<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">📚 BookNook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/user/userlogin">Login</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/user/userRegister">Registration</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/admin">Admin Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>