<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/header")%>
    <title>Document</title>
    <style>
        .bannerImg{
            width: 70%;
            height: 70%;
        }
    </style>
</head>
<body>
    <%- include("../partials/navbar")%>
    <h1>Welcome to Home Page</h1>
    <div class="container">
        <img src="/img/BookNook.jpeg" alt="img" class="bannerImg"/>
    </div>
    <%- include('../partials/footer')%>
</body>
</html>