<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../../partials/header')%>
</head>

<body>
    <h1>Admin Dashboard</h1>
    <h1
        style="background-color: lightsalmon;font-size: 5rem;color: white;padding: 10px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        Welcome <%= user %> to <br>DashBoard
    </h1>

    <form action="/admin/logout" method="GET">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</body>

</html>